*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
.container{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(135deg,red,blue);
    padding: 20px;
}
.to-do{
    background: rgb(255, 255, 255);
    width: 100%;
    max-width: 540px;
    border-radius: 20px;
    padding: 20px 20px;
    margin: 100px auto 20px;
    
}
.to-do h2{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.to-do h2 img{
    height: 30px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    margin-bottom: 25px;
    background: rgb(215, 212, 212);
    border-radius: 30px;
}
.search input{
    flex: 1;
    border-radius: 20px;
    border: none;
    padding: 10px;
    outline: none;
    background: transparent;
    font-size: large;
    font-weight: 900;

}
.search button{
    border-radius: 20px;
    padding: 16px 50px;
    border: none;
    outline: none;
    color: rgb(247, 245, 245);
    background: linear-gradient(150deg,blue,rgb(251, 5, 5));
    font-size: large;
    font-weight: 900;
    cursor: pointer;


}
ul li{
    padding: 12px;
    margin-left: 20px;
    list-style: none;
    position: relative;
    font-size: 20px;
    cursor: pointer;
}
ul li::before{
    content:'';
    height: 20px;
    width: 20px;
    position: absolute;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-position:center ;
    background-size: cover;
    top: 13px;
    left: -20px;
}
ul li.task{
    text-decoration: line-through;
}
ul li.task::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 13px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
}
ul li span:hover{
    background-color: rgb(205, 207, 207);
}
